/* src/assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/style.css */  默认占满屏幕
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  #app {
    height: 100%;
    width: 100%;
  }
